<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender class="ch.qos.logback.core.ConsoleAppender" name="CRUDOperationConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%X{X-B3-TraceId:-}] - %m%n</Pattern>
		</encoder>
	</appender>
	<logger additivity="false" level="info" name="com.test.crud">
		<appender-ref ref="CRUDOperationConsoleAppender" />
	</logger>
	<root level="error">
		<appender-ref ref="CRUDOperationConsoleAppender" />
	</root>
</configuration>